* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main {
  margin: 0 auto;
  /* max-width: 1300px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  grid-template-areas:
    "header"
    "content";
}



.header {
  background-color: #d6dbdf;
  margin-bottom: 50px;
}



.characters {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  /* justify-content: space-between; */
  row-gap: 50px;
}

.character-item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.character-item a img {
  min-width: 150px;
}



